extends ../layout.pug

block content
  section.flex.justify-center.my-8
    article.max-w-lg
      img.card-image-full(src="/storage/" + image.filename, alt=image.title)
      h1.title= image.title
      p.card-description= image.description
      footer.card-footer
        .flex.items-center.my-2
          p.card-color-text= `Color predominante: ${image.dominantColor}`
          .card-color(style=`background-color: ${image.dominantColor};`)
        p.card-date= image.publishedAt
